<app-header></app-header>
<div class="usuario-list-container">
    <h2>Lista de usuários</h2>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Senha</th>
                <th>Cpf</th>
                <th>Endereco</th>
                <th>ListaTelefone</th>
                <th>Sexo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <!-- <td>{{ usuario.senha }}</td> -->
                <td> **** </td>
                <td>{{ usuario.cpf }}</td>
                <td>{{ usuario.endereco }}</td>
                <td>{{ usuario.listaTelefone.length }}</td>
                <td>{{ usuario.sexo }}</td>
            </tr>
        </tbody>
    </table>
</div>
<app-footer></app-footer>