<app-header></app-header>
<div class="administrador-list-container">
    <h2>Lista de Administradores</h2>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Senha</th>
                <th>Cpf</th>
                <th>Endereco</th>
                <th>ListaTelefone</th>
                <th>Sexo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let administrador of administradores">
                <td>{{ administrador.username }}</td>
                <td>{{ administrador.email }}</td>
                <!-- <td>{{ administrador.senha }}</td> -->
                <td> **** </td>
                <td>{{ administrador.cpf }}</td>
                <td>{{ administrador.endereco }}</td>
                <td>{{ administrador.listaTelefone.length }}</td>
                <td>{{ administrador.sexo }}</td>
            </tr>
        </tbody>
    </table>
</div>