<header>
    <a href=""><img src="logo.png"></a>
    <h1>Bem-vindo!</h1>
    <button (click)="navigateTo('')">Página inicial</button>
    <button (click)="navigateTo('admin/administrador')">Administradores</button>
    <button (click)="navigateTo('admin/autor')">Autores</button>
    <button (click)="navigateTo('admin/escritor')">Escritores</button>
    <button (click)="navigateTo('admin/manga')">Manga</button>
    <button (click)="navigateTo('admin/novel')">Novel</button>
    <button (click)="navigateTo('admin/usuario')">Usuario</button>
    <button mat-icon-button>
        <button mat-icon-button (click)="deslogar()">
            <mat-icon>exit_to_app</mat-icon>
        </button>
        <span>{{usuarioLogado?.username}}</span>
    </button>
    <mat-toolbar color="primary" class="search">
        <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="search-form">
            <mat-form-field appearance="outline" class="search-field">
                <mat-label>Pesquisar Novels</mat-label>
                <input matInput formControlName="query" placeholder="Digite o título do novel">
            </mat-form-field>
            <button mat-raised-button color="accent" type="submit">Pesquisar</button>
        </form>
    </mat-toolbar>
</header>