<mat-toolbar color="primary">
    <div class="toolbar-title">Mangá</div>
</mat-toolbar>

@if(manga) {
<body>
    <section class="product-container">
        <div class="img-card">
            <img src="{{manga.imageUrl}}" alt="" id="featured-image">
            <div class="small-Card">
                <img src="{{manga.imageUrl}}" class="small-Img">
                <img src="{{manga.imageUrl}}" class="small-Img">
                <img src="{{manga.imageUrl}}" class="small-Img">
                <img src="{{manga.imageUrl}}" class="small-Img">
            </div>
        </div>
        <div class="product-info">
            <h3>{{manga.nome}}</h3>
            <h5>R$ {{manga.preco}}</h5>
            <h5>Páginas: {{manga.paginas}}</h5>
            <h5>Estoque: {{manga.estoque}}</h5>
            <h5>Ano: {{manga.lancamento}}</h5>
            <!-- <h5>Gênero: {{manga.genero.nome}}</h5> -->
            <!-- <h5>Gênero: {{getGeneroString(manga.genero.id)}}</h5> -->
            <h5>Autor: {{manga.idAutor.nome}}</h5>
            <p>{{manga.sinopse}}</p>
            <div class="quantity">
                <input type="number" value="1" min="1" max="100">
                <button mat-button (click)="adicionarAoCarrinho(manga)" color="accent" style="width: 100%; padding: 16px;">Adicionar ao carrinho</button>
            </div>
            <a mat-flat-button href="/loja/manga/{{manga.id}}/image/download/{{manga.imageUrl}}" target="_blank">Link</a>
        </div>
    </section>
</body>
}