<main>
    <div class="login-register">
      <h1 id="login">Login</h1>
      <h1><a href="cadastro" id="register">Cadastro</a></h1>
    </div>
    <section id="login">
      <div id="img"></div>
      <div id="form">
        <p>Seja bem-vindo(a), por favor conecte-se</p>
        <form [formGroup]="formGroup" (ngSubmit)="login()">
          <!-- Campo CPF -->
          <div class="field">
            <span class="material-symbols-outlined">Usuário</span>
            <input
                matInput
                type="text"
                formControlName="identificador"
                placeholder="Digite seu identificador"
                required
            />
            <mat-error *ngIf="formGroup.get('identificador')?.invalid && formGroup.get('identificador')?.touched">
                {{ getErrorMessage('identificador', formGroup.get('identificador')?.errors) }}
            </mat-error>
            </div>
  
          <!-- Campo Senha -->
          <div class="field">
            <span class="material-symbols-outlined">Senha</span>
            <input
              matInput
              type="password"
              formControlName="senha"
              placeholder="********"
              required
              autocomplete="current-password"
              minlength="6"
              maxlength="24"
            />
            <mat-error *ngIf="formGroup.get('senha')?.invalid && formGroup.get('senha')?.touched">
              {{ getErrorMessage('senha', formGroup.get('senha')?.errors) }}
            </mat-error>
          </div>
  
          <!-- Botão de Login -->
          <div>
            <input type="submit" class="botao" value="Entrar" />
          </div>
        </form>
      </div>
    </section>
  </main>
  