<app-header></app-header>
<div class="manga-list-container">
    <h2>Lista de Autores</h2>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ano lançamento</th>
                <th>Nacionalidade</th>
                <th>Sexo</th>
                <th>Mangas</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let autor of autores">
                <td>{{ autor.nome }}</td>
                <td>{{ autor.lancamento }}</td>
                <td>{{ autor.nacionalidade }}</td>
                <td>{{ autor.mangas.length }}</td>
<!--                 <td>
                    <ul>
                        <li *ngFor="let condicao of autor.condicoes">{{ condicao.descricao }}</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li *ngFor="let tarefa of autor.tarefas">{{ tarefa.nome }}</li>
                    </ul>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>
<app-footer></app-footer>