<app-header></app-header>
<mat-toolbar color="primary">
    <div class="toolbar-title">Registro de usuário</div>
</mat-toolbar>
<div class="novel-form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup" (ngSubmit)="salvar()">
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" formControlName="username" />
                    <mat-error *ngIf="formGroup.get('username')?.invalid && formGroup.get('username')?.touched">{{ getErrorMessage('username') }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="email" />
                    <mat-error *ngIf="formGroup.get('email')?.invalid && formGroup.get('email')?.touched">{{ getErrorMessage('email') }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="senha" />
                    <mat-error *ngIf="formGroup.get('senha')?.invalid && formGroup.get('senha')?.touched">{{ getErrorMessage('senha') }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>CPF</mat-label>
                    <input matInput type="text" formControlName="cpf" />
                    <mat-error *ngIf="formGroup.get('cpf')?.invalid && formGroup.get('cpf')?.touched">{{ getErrorMessage('cpf') }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Endereço</mat-label>
                    <input matInput type="text" formControlName="endereco" />
                    <mat-error *ngIf="formGroup.get('endereco')?.invalid && formGroup.get('endereco')?.touched">{{ getErrorMessage('endereco') }}</mat-error>
                </mat-form-field>
                <!-- listaTelefone -->
                <mat-form-field appearance="fill">
                    <mat-label>Sexo</mat-label>
                    <mat-select formControlName="sexo">
                        <mat-option *ngFor="let sexo of sexoIds" [value]="sexo[0]">{{sexo[1]}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('sexo')?.invalid && formGroup.get('sexo')?.touched">
                        {{ getErrorMessage('sexo') }}
                    </mat-error>
                </mat-form-field>
                <mat-card-actions>
                    <button mat-raised-button routerLink="/novels">Cancelar</button>
                    <button mat-raised-button color="warn" *ngIf="formGroup.get('id')?.value" (click)="excluir()">
                        Excluir
                    </button>
                    <button mat-raised-button color="primary" type="submit">
                        Salvar
                    </button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>
<app-footer></app-footer>