<app-header></app-header>
<div class="escritor-list-container">
    <h2>Lista de escritor</h2>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ano lançamento</th>
                <th>Nacionalidade</th>
                <th>Sexo</th>
                <th>Novels</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let escritor of escritores">
                <td>{{ escritor.nome }}</td>
                <td>{{ escritor.lancamento }}</td>
                <td>{{ escritor.nacionalidade }}</td>
                <td>{{ escritor.novels.length }}</td>   
<!--                 <td>
                    <ul>
                        <li *ngFor="let condicao of escritor.condicoes">{{ condicao.descricao }}</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li *ngFor="let tarefa of escritor.tarefas">{{ tarefa.nome }}</li>
                    </ul>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>