<div class="container responsive-grid">
    <mat-card *ngFor="let manga of cards()">

        <img mat-card-image [src]="manga.imageUrl" />

        <mat-card-title class="centered-text">{{manga.nome}}</mat-card-title>
        <mat-card-content class="centered-text" style="background-color: #c5c5c5;">{{manga.sinopse}}</mat-card-content><br>
        <mat-card-content class="centered-text">Ano: {{manga.lancamento}}</mat-card-content><br>
        <mat-card-content class="centered-text">Preço: {{manga.preco}}</mat-card-content>

        <mat-card-actions class="centered-text">
            <button mat-button color="primary" (click)="verManga(manga.id);">Observar mais.</button>
        </mat-card-actions>

        <mat-card-footer>
            <button mat-button (click)="adicionarAoCarrinho(manga)" color="accent" style="width: 100%; padding: 16px;">Adicionar ao carrinho.</button>
        </mat-card-footer>

    </mat-card>
</div>