<div class="container responsive-grid">
    <mat-card *ngFor="let manga of cards()" class="manga-card">
        <div class="manga-card-content">
            <img mat-card-image [src]="manga.imageUrl" class="manga-image" />
            <div class="manga-details">
                <mat-card-title class="centered-text">{{ manga.nome }}</mat-card-title>
                <mat-card-content class="centered-text" style="background-color: #c5c5c5;">
                    {{ manga.sinopse.length > 20 ? (manga.sinopse | slice: 0: 20) + '...' : manga.sinopse }}<br>
                </mat-card-content>
                <mat-card-content class="centered-text"> {{ manga.genero.nome }}</mat-card-content>
                <mat-card-content class="centered-text"> {{ manga.lancamento }}</mat-card-content><br>
                <mat-card-content class="centered-text"> {{ manga.preco }}</mat-card-content>
                <mat-card-actions class="centered-text">
                    <button mat-button color="primary" (click)="verManga(manga.id);">Observar mais.</button>
                </mat-card-actions>
                <mat-card-footer>
                    <button mat-button (click)="adicionarAoCarrinho(manga)" color="accent" style="width: 100%; padding: 16px;">Adicionar ao carrinho.</button>
                </mat-card-footer>
            </div>
        </div>
    </mat-card>

    <!-- Pagination controls -->
    <mat-paginator [length]="totalMangas" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                   (page)="onPageChange($event)">
    </mat-paginator>
</div>
